{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{lib_dirs, ["deps"]}.
{erl_opts, [
    debug_info, 
    fail_on_warning,
    {i, "./deps/battle_code/include"},
    {d, 'DEBUG'},
    {d, 'debug'}]}.
{deps, [
        {ecsv, ".*", {git, "git://github.com/refuge/ecsv.git", {branch, master}}},
        {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, master}}},
        {elixir, ".*", {}},
        {battle_code, ".*", {}}
       ]}.

